<section class="content">
	
	
	<!-- ngIf: state=='inserting' || state=='updating' --><div ng-if="state=='inserting' || state=='updating'" class="ng-scope">
		
		<div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <!-- ngIf: state=='inserting' --><h3 class="box-title ng-scope" ng-if="state=='inserting'">Cadastrar</h3><!-- end ngIf: state=='inserting' -->
              <!-- ngIf: state=='updating' -->
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            
            <form role="formu" id="formu" name="formu" method="post" class="ng-pristine ng-valid ng-valid-maxlength">
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Título</label>
                  <input ng-model="evento.titulo" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Título" type="text">
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">Imagem</label>
                  <input id="enviarImagem" name="enviarImagem" value="Enviar Arte" type="file">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Descrição</label>
                  <textarea ng-model="evento.descricao" style="width:100%; height:150px" class="ng-pristine ng-untouched ng-valid ng-empty"></textarea>
                </div>
                
                <div class="form-group">
                  <label for="exampleInputEmail1">Regulamento</label>
                  <textarea ng-model="evento.regulamento" style="width:100%; height:150px" class="ng-pristine ng-untouched ng-valid ng-empty"></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Quantidade</label>
                  <input ng-model="evento.quantidade" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Quantidade" type="text">
                </div>
				<div class="form-group">
                  <label for="exampleInputEmail1">Data</label>
                  <input ng-model="evento.data" class="form-control date ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength" placeholder="Data" maxlength="10" type="text">
                </div>
				<div class="form-group">
                  <label for="exampleInputEmail1">Hora</label>
                  <input ng-model="evento.hora" class="form-control hora ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength" placeholder="Hora" maxlength="5" type="text">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Youtube</label>
                  <input ng-model="evento.video" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Vídeo" type="text">
                </div>
                
                <div class="form-group">
                  <label for="exampleInputEmail1">Endereço</label>
                  <input ng-model="evento.endereco" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Endereço" type="text">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Bairro</label>
                  <input ng-model="evento.bairro" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Bairro" type="text">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Cidade</label>
                  <input ng-model="evento.cidade" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Cidade" type="text">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Estado</label>
                  <input ng-model="evento.estado" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Estado" type="text">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Latitude</label>
                  <div>
                  	  <input ng-model="evento.lat" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Latitude" style="width:200px; float:left" type="text">
	                  <button type="submit" class="btn btn-primary" ng-click="consultarLatLng()" style="float:left">Consultar</button>
	                  <button type="submit" class="btn btn-primary" ng-click="mapaLatLng()" style="float:left; margin-left:20px">Ver Mapa</button>
	                  <div style="clear:both"></div>
                  </div>
                  
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Longitude</label>
                  <input ng-model="evento.lng" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Longitude" style="width:200px" type="text">
                </div>
    
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <!-- ngIf: state=='inserting' --><button type="submit" class="btn btn-primary ng-scope" ng-click="cadastrar()" ng-if="state=='inserting'">Cadastrar</button><!-- end ngIf: state=='inserting' -->
                <!-- ngIf: state=='updating' -->
                <button type="submit" class="btn" ng-click="cancelar()">Cancelar</button>
              </div>
            </form>
          </div>
          </div>
          </div>
          
	</div><!-- end ngIf: state=='inserting' || state=='updating' -->
	
	<div>
	</div>
	<!-- ngIf: state=='searching' -->
	
	<!-- ngIf: state=='lista' -->
	
	
	
      <!-- /.row -->
    </section>