<app-appheader></app-appheader>
<app-appmenu></app-appmenu>
<app-appmenu></app-appmenu>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
   <router-outlet></router-outlet>
  </div>

<app-appfooter></app-appfooter>
<app-appsettings></app-appsettings>
